*{
    margin:0;
    padding:0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
nav{
    background-color: silver;
    height:90px;
    width:100%;
    position:fixed;
}
label.logo{
    font-size: 200%;
    line-height: 80px;
    padding:0 2%;
    font-family: "Playfair Display SC", serif;
    font-weight: 900;
    font-style: italic;
}
img.ac{
    width:6%;
    vertical-align: middle;
    ;
}
nav ul{
    float:right;
    margin-right:2%;
}
nav ul li{
    display:inline;
    line-height: 80px;
    margin:0 7px;
}
nav ul li a{
    color:white;
    font-size: 150%;
    text-transform: uppercase;
    padding:7px 10px;
}
a.active,a:hover{
    background-color: black;
    padding-bottom:6% ;
    padding-top: 4%;
}
.checkbtn{
    font-size: 30px;
    color:white;
    float: right;
    line-height: 80px;
    margin-right: 3%;
    cursor: pointer;
    display:none;
}
#check{
    display:none;

}
.air{
    margin-right: 1%;
    width:20%;
}
.led{
    margin-right: 1%;
    width:20%;
}
@media (max-width: 1200px){
    label.logo{
        font-size:130%;
        padding-left:3%;
    }
    
    nav ul li a{
        font-size:100%;

    }
}
@media (max-width:920px){
    .checkbtn{
        display: block;
    }
    img.ac{
        width:15%;
    }
    ul{
        position:fixed;
        width:100%;
        height:100vh;
        background-color:black;
        top: 10%;
        left:-100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display:block;
        margin:20% 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 125%;
    }
    a:hover,a.active{
        background-color: black;

    }
    #check:checked ~ ul{
        left:0;
    }
}
.whatsapp{
    width:20%;
}
.gmail{
    width:10%;
}
.content{
    background:url(./backgound11.png) no-repeat;
    background-size: cover;
    padding:2%
}
.head{
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
    color:white;
}
.text{
    color:white;
    font-family: "Merriweather", serif;
    font-weight: 200;
    font-style: normal;
}
@media (max-width:920px){
    .bike{
        width:40%;
    }
    .air{
        width:60%;
    }
    .mobile{
        width:60%;
        
    }
    .led{
        width:50%;
    }
    .ref{
        width:50%;
    }
    .whatsapp{
        width:35%;
    }
    .gmail{
        width:30%;
    }
}
.footer{
    background-color:silver;

}
.fa-instagram{
    font-size: 500%;
    color:white;
    background-color: rgb(202, 13, 28);
    border-radius:20%;
    padding:0.3%;
    margin-right: 2%;
}
.footer{
    padding:2%;
}
.hf{
    color:black;
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;

}
.foot:hover{
    background-color:silver;
}
.cr{
    color:black;
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-right: 10%;
    text-align: center;
}
.pf{
    
    margin-right: 7%;
    font-family: "Merriweather", serif;
    font-weight: 200;
    font-style: normal;
    background-color: silver;
    text-align: center;
}
